# 제3장 Python 기초문법

## 1. 기본연산

### 산술연산

In [1]:
print(123 + 456)   # + : 덧셈
print(456 - 123)   # - : 뺄셈
print(100 * 1004)  # * : 곱셈
print(5048 / 123)       # / : 나눗셈

579
333
100400
41.040650406504064

In [2]:
print(2 ** 64)     # ** : 거듭제곱
print(5048 // 123) # // : 몫
print(33 % 5)      # % : 나머지

18446744073709551616
41
3

### 논리연산

In [3]:
print(True and True)
print(True and False)

True
False

In [4]:
print(True or True)
print(True and False)

True
False

In [5]:
print(not True)
print(not False)

False
True

### 비교연산

In [6]:
# 숫자 비교
print(5 > 2)   # 5가 2보다 큰지 확인
print(1 > 2) # 1이 2보다 큰지 확인
print(5 >= 5)  # 5가 5보다 크거나 같은지 확인
print(7 == 7)  # 7과 7이 같은지 확인
print(7 != 5)  # 7과 5가 다른지 확인

True
False
True
True
True

In [7]:
# 문자비교
print('Python' == 'Python')
print('Python' == 'python')
print('Python' != 'python')

True
False
True

## 2. 변수
- 데이터(문자, 숫자 등)를 넣을 수 있는 상자를 변수, 그 이름이 변수명

### 변수선언

In [8]:
a = 'python' # 'python'이라는 문자가 들어있는 변수 'a'가 생성(저장)
print(a)

python

### 변수 종류

In [9]:
a = 'python' # 문자열 변수
b = 123      # 정수형 변수
c = 1.2      # 실수형 변수
a, b, c

('python', 123, 1.2)

### 여러 가지 변수생성 방법

In [10]:
a, b = 'var1', 'var2'
c = ('tuple1', 'tuple')
d = ['list', 'list']

print(a)
print(b)
print(c)
print(d)

var1
var2
('tuple1', 'tuple')
['list', 'list']

### 데이터 변수 에러
- 선언된 변수가 아닌경우 에러 출력

In [11]:
a = 10 # 변수에 10의 값을 할당
f      # 하지만 f를 호출할 경우 f의 값이 없으므로 에러 출력

NameError: name 'f' is not defined

### 데이터 변수 형태확인

In [12]:
a = 10    # a 변수에 10의 값을 할당
b = 3.14  # b 변수에 3.14의 값을 할당
c = True  # c 변수에 True 값을 할당

print("a의 값은?:", a)
print("a의 데이터 변수 형태는?:", type(a)) # a는 int(정수) 형태의 값을 나타냄
print("b의 값은? :", b)
print("b의 데이터 변수 형태는?:", type(b)) # b는 float(실수) 형태의 값을 나타냄
print("c의 값은?:", c)
print('c의 데이터 변수 형태는?:', type(c)) # c는 bloolean(논리형) 형태의 값을 나타냄

a의 값은?: 10
a의 데이터 변수 형태는?: <class 'int'>
b의 값은? : 3.14
b의 데이터 변수 형태는?: <class 'float'>
c의 값은?: True
c의 데이터 변수 형태는?: <class 'bool'>

### 숫자형

In [13]:
a = 100       # 정수형 변수
b = 3.14      # 실수형 변수

print(a)      # 정수
print(bin(a)) # 2진수
print(oct(a)) # 8진수
print(hex(a)) # 16진수

100
0b1100100
0o144
0x64

### 논리형

In [14]:
a = True
print(type(a))
b = False
print(type(b))

<class 'bool'>
<class 'bool'>

In [15]:
# 비교연산자를 이용한 부울형(논리형) 데이터 표현
print(10 == 10) # 두 값이 같을 경우 True 출력
print(10 != 10) # 두 값이 다를 경우 True 출력(같을 경우 False 출력)
print(10 < 10)  # 우측 값이 큰 경우 True 출력(그렇지 안을 경우 False 출력)
print(10 > 10)  # 좌측 값이 큰 경우 True 출력(그렇지 안을 경우 False 출력)
print(10 <= 10) # 우측값이 좌측값보다 크거나 같을 경우 True 출력
print(10 >= 10) # 좌측값이 좌측값보다 크거나 같을 경우 True 출력

True
False
False
False
True
True

### 문자형

In [16]:
str1 = '안녕하세요. ' # 끝에 공백 
str2 = '반갑습니다.'
sentence = str1 + str2
print(sentence) # 두 문자형을 더하기
print(str1*3)   # 3을 곱하는 경우 3번 반복 출력

안녕하세요. 반갑습니다.
안녕하세요. 안녕하세요. 안녕하세요.

In [17]:
# 문자열 함수 _ split
sentence.split() # sentence 변수를 공백 기준으로 나눔

['안녕하세요.', '반갑습니다.']

In [18]:
# 문자열 함수 _ find
sentence.find('반갑습니다.') # '반갑습니다.' 단어의 앞자리 위치 반환(0부터 시작)

7

In [19]:
sentence.find('python') # sentence 변수에 찾으려는 문자열이 없을 경우 -1 반환

-1

In [20]:
# 문자열 _ replace
sentence.replace('.', '!')

'안녕하세요! 반갑습니다!'

In [21]:
# 문자열 _ strip
sentence.strip('안녕') # sentence 변수에서 '안녕'이라는 문자 제거

'하세요. 반갑습니다.'

In [22]:
# 문자열 인덱싱(indexing) 및 슬라이싱(slicing)
a = "Land Housing Corporation"
print(a[3])    # 4번째 문자
print(a[-3])   # 뒤에서 3번째 문자
print(a[0:15]) # 0~14번째 까지 문자
print(a[4:])   # 4번째(space) 이후 문자

d
i
Land Housing Co
 Housing Corporation

## 3. 자료구조

###  리스트(List)
- 리스트 내의 항목은 쉼표(,)로 구분하고 대괄호(([ ])안에 포함
- ㄹ스트 항목에 속하는 모든 항목이 서로다른 데이터 유형이 될 수 있음
- 리스트 index는 0부터 전체항목수에서 -1한 것까지

In [23]:
# 리스트 형태
list = [10, 20, 30, 40, 3.14, '문자']  # list 생성, list 객체로 저장(할당)
print(list)                            # list 값 출력
print(type(list))                      # list의 자료 형태 출력

[10, 20, 30, 40, 3.14, '문자']
<class 'list'>

In [24]:
# 인덱싱
print(list[0])    # 1번째 원소 출력
print(list[4])    # 5번째 원소 출력
list[0] = list[4] # 1번째 원소를 5번쨰 원소로 저장
print(list)       # 볌경된 list 변수 출력

10
3.14
[3.14, 20, 30, 40, 3.14, '문자']

In [25]:
# 슬라이싱
list = ["사과", "배", "포도", "딸기", "토마토", "메론"]
print(list[2:4]) # 3~4번째 원소

['포도', '딸기']

In [26]:
# 리스트 병합
list_1 = [10, 20, 30, 40, 50]
list_2 = [5, 10, 15, 20, 25]
print(list_1 + list_2) # 리스트 더하기
print(list_1*3) # 리스트 곱(곱한 수 만큼 반복)

[10, 20, 30, 40, 50, 5, 10, 15, 20, 25]
[10, 20, 30, 40, 50, 10, 20, 30, 40, 50, 10, 20, 30, 40, 50]

In [27]:
# 리스트 데이터 추가(append)
list = [1, 100, 'python']
print(list)
list.append('py') # list에 py라는 값을 추가
print(list)

[1, 100, 'python']
[1, 100, 'python', 'py']

In [28]:
# 리스트 데이터 삽입(insert)
list = [1, 100, 'python']
list.insert(1, '0.5') # 두번째에 '0.5' 값(문자형) 삽입
print(list)

[1, '0.5', 100, 'python']

In [29]:
# 리스트 데이터 정렬(sort)
list = [50, 20, 40, 30, 10, 60, 90]
list.sort()
print(list)

[10, 20, 30, 40, 50, 60, 90]

### 튜플(Tuple)
- 리스트와 다른 점은 읽기 전용으로, 수정, 삭제 불가

In [30]:
# 튜플의 기본구조
tuple = ('사과', '배', '포도', '토마토', '딸기')
print(tuple)
print(type(tuple))

('사과', '배', '포도', '토마토', '딸기')
<class 'tuple'>

In [31]:
tuple[0] = 100 # 튜플은 변경될 수 없는 객체로 튜플내 데이터 변경시 에러 출력

TypeError: 'tuple' object does not support item assignment

### 집합(Set)

In [32]:
# Set 구조
data = {100, 200, 300, 400, 500, 600, 700, 200}
print(data)
print(type(data))

{400, 700, 100, 500, 200, 600, 300}
<class 'set'>

In [33]:
data[0:4] # set 자료구조는 인덱싱과 슬라이싱 불가(에러 출력)

TypeError: 'set' object is not subscriptable

###  딕셔너리(Dictionary)

In [34]:
# 특성 및 구조
dict = {'Name':'홍길동', 'Email':'gdHong@naver.com', '주소':'서울시 광진구'}
print(dict)
print(type(dict))

{'Name': '홍길동', 'Email': 'gdHong@naver.com', '주소': '서울시 광진구'}
<class 'dict'>

In [35]:
# 항목 검색
print(dict.keys()) # key 값 출력
print(dict.values()) # value 값 출력
print(dict.items()) # key, value값 동시 출력
print(dict['Name']) # key가 'Name'인 값을 가져옴
print(dict.get('Name')) # 위의 결과와 동일

dict_keys(['Name', 'Email', '주소'])
dict_values(['홍길동', 'gdHong@naver.com', '서울시 광진구'])
dict_items([('Name', '홍길동'), ('Email', 'gdHong@naver.com'), ('주소', '서울시 광진구')])
홍길동
홍길동

In [36]:
# 항목 추가
dict['사원번호'] = 12345
print(dict)

{'Name': '홍길동', 'Email': 'gdHong@naver.com', '주소': '서울시 광진구', '사원번호': 12345}

In [37]:
# 항목 삭제
dict.pop('주소')
print(dict)

{'Name': '홍길동', 'Email': 'gdHong@naver.com', '사원번호': 12345}

In [38]:
# 항목 정렬
data = {'사과':300, '배':200, '포도':500, '딸기':700}
print(data)
print(sorted(data)) # keys 항목을 오름차순으로 정렬
print(sorted(data.values())) # values 값을 오림차순으로 정렬
print(data) # 원래의 data는 변경 없음

{'사과': 300, '배': 200, '포도': 500, '딸기': 700}
['딸기', '배', '사과', '포도']
[200, 300, 500, 700]
{'사과': 300, '배': 200, '포도': 500, '딸기': 700}

## 4. 제어문 및 반복문

### if 조건문

In [39]:
# if ~ else
# if ~ else 명령을 사용하면 조건에 따라 다른 명령을 수행
# 변수 a가 100이라는 조건이 맞으면 '일치', 아니면 '불일치'출력

a = 100 # 변수 a에 초기값 100으로 저장(변경할 수 있음)

if a == 100 :
    print('일치')
else :
    print('불일치')

일치

In [40]:
# if~elif~else
# 조건으로 나누어야 할 경우의 수가 여러 가지일 때 사용

money = 4500

if money >= 5000:
    print("택시 타고 가자!")
elif money >= 4000:
    print("지하철타고 가자!")
else :
    print("그냥 걸어가자!")

지하철타고 가자!

### 반복문

In [41]:
# while 반복문 예제1
a = 1
while a <=3 : # 변수 a가 3이하가 될 때 까지 반복
    print(a) # 변수 a 출력
    a += 1 # 변수 a에 1씩 더함

1
2
3

In [42]:
# while 반복문 예제2(리스트 출력)
food = ["apple", "banana", "bread"]
i=0
while i < len(food) :
    print(food[i])
    i = i+1

apple
banana
bread

In [43]:
# for 반복문 예제1
# 1~10까지 숫자의 합계 구하기
sum = 0
for i in range(11) :
    sum = sum+i
print(sum)

55

In [44]:
# for 반복문 예제2(리스트 출력)
list = ['land', 'houning', 'corporation']
for s in list:
    print(s, end=' ') # 줄 바꿈 없이 가로로 space로 구분 출력

land houning corporation

## 5. 함수
- def 키워드를 사용해 함수를 정의
- 함수 식별자(함수 이름) 다음에 괄호와 콜론을 작성
- 그런 다음, 탭 또는 공백 4개로 들여쓰기(indent)를 작성 후 함수에서   
실행하려는 기능을 코드로 지정

In [45]:
# 함수사용 예제1(def 사용)

def f(x) : # 함수 f(x)를 생성하고 s의 값을 입력 받음
    return x+10 # 함수 실행시 결과값은 x에 10을 더한 값 return
f(2)

12

In [46]:
# 함수사용 예제2(lambda 사용)

f = lambda x : x+10
f(2) # def와 동일 결과

12

In [47]:
# 함수사용 예제3 (카테고리 변수 생성)

def get_category(age):
    if age <=18 :
        return 'Child'
    elif age <=60 :
        return 'Adult'
    else:
        return 'Elderly'
get_category(25)

'Adult'

In [48]:
# 함수사용 예제4 (인자 2개)

def func(a, b) :
    print('두 숫자를 더합니다.')
    return a+b

func(1,5)

두 숫자를 더합니다.

6

In [49]:
# 함수사용 예제5 (인자 2개, lambda 사용)

func = lambda a, b : a+b
func(1, 5)

6

In [50]:
# Built-in 함수 중 대표함수인 input과 print

text = input('문장, 단어를 입력하세요: ')
print(text)

문장, 단어를 입력하세요: 문장, 단어입력
문장, 단어입력